.textAlignLeft{
    text-align: left;
}

.textAlignRight{
    text-align: right;
}

.borderColorBlue{
    border: 5px solid blue;
}

.borderColorRed{
    border: 5px solid red;
}

.champIconList{
    display: flex;
    flex-direction: column;
    height: 75vh;
}