@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.width100 {
  width: 100%;
}
