.textAlignLeft{
    text-align: left;
}

.textAlignRight{
    text-align: right;
}

.borderColorBlue{
    border: 5px solid blue;
    border-radius: 25px;
}

.borderColorRed{
    border: 5px solid red;
    border-radius: 25px;
}

.champIconList{
    display: flex;
    flex-direction: column;
    height: 1fr;
}

img {
    width: 31%;
    border-radius: 5px;
}