.guessBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 85vh;
    width: 100%;
}

.sideGridContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    height: 25vh;
}