@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.grid-container {
  justify-content: center;
  display: grid;
  margin-top: 5vh;
  grid-gap: 1vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  grid-template-areas: "champIconList guessBox champIconList";
}

.width100 {
  width: 100%;
}
